{% extends 'header_base.html' %}

{% block title %} About{% endblock title %}

{% block body %}

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <h2>About Us</h2>
        <p>Welcome to ResolveMyQuery, where learning meets innovation. Our mission is to provide high-quality, accessible online courses to help you achieve your educational goals. With our experienced instructors and user-friendly platform, you can unlock your full potential and thrive in your chosen field.</p>
      </div>
      <div class="col-lg-4">
        <img src="https://source.unsplash.com/300x300/?person" class="img-fluid ml-100" alt="About Us Image">
      </div>
    </div>
  </div>

{% endblock %}



